<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW PRODUCT</title>
</head>
<body>
    <h1>Add a product</h1>  
    <form action="/products" method="post">
        <label for="name">product name</label>
        <input type="text" name="name" placeholder="product name" id="name">
        <label for="price">product price</label>
        <input type="number" name="price" placeholder="product price" id="price">
        <label for="catergory">product catergory</label>
        <select name="catergory" id="catergory">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>
        <button>SUBMIT</button>
    </form>
</body>
</html>